@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  padding: 0px;
  margin: 0px;
  font-weight: 400;
  line-height: 1.6;
  width: 100%;
  height: 100%;
}

.heading {
  position: relative;
}
.top-image img {
  width: 100%;
  height: 600px;
  max-width: 100%;
}

.heading {
  max-width: 100%;
}
.heading-content {
  padding: 30px 40px;
}
.address {
  position: absolute;
  top: 15px;
  color: white;
  font-size: 12px;
}
.logo-part {
  position: absolute;
  top: 50px;
  color: white;
  font-size: 12px;
  border-top: 1px solid gray;
  padding-top: 15px;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: flex-start;
  gap: 450px;
}

.navbar ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.navbar ul li {
  float: left;
  margin-right: 60px;
}

.logo img {
  width: 90px;
}
.navbar ul li a {
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  font-weight: 600;
  color: white;
  text-transform: uppercase;
}

.navbar ul li a:hover {
  color: brown;
}

.carousel {
  position: absolute;
  top: 200px;
  left: 300px;
  text-align: center;
}
.carousel h2 {
  color: white;
  font-size: 55px;
  font-weight: 550;
  text-align: center;
  font-family: "Playfair Display", serif;
}

.carousel .flexo {
  color: white;
  font-size: 30px;
  display: flex;
  align-items: flex-start;
  align-content: center;
  justify-content: center;
  margin-top: 15px;
}

.carousel .flexo div {
  width: 80px;
  height: 1px;
  background-color: white;
  /* line-height: 60px; */
  margin-top: 20px;
}

.carousel .flexo p {
  margin-left: 20px;
  margin-right: 20px;
  font-size: 25px;
  font-weight: 500;
}

.icon {
  position: absolute;
  top: 350px;
  display: flex;
  justify-content: flex-start;
  gap: 1100px;
  align-items: flex-start;
  align-content: center;
  visibility: hidden;
}
.ikon {
  font-size: 35px;
  color: white;
}

.date-flex {
  position: absolute;
  top: 450px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: center;
}
.arrival-input {
  background-color: white;
  width: 250px;
  padding: 20px 30px;
  margin-right: 10px;
}
.arrival-flex {
  display: flex;
  align-items: flex-start;
  align-content: center;
  justify-content: flex-start;
}

.input-date input {
  padding: 15px 5px;
  width: 170px;
  border: none;
  font-size: 30px;
  overflow: hidden;
  margin-right: 2px;
  color: gray;
}
.arrival-content {
  font-size: 14px;
  color: brown;
  font-weight: 500;
  text-transform: uppercase;
}
.input-date input:focus {
  outline: none;
}
.calendar-icon {
  font-size: 40px;
  color: brown;
}

.showing-adult {
  background-color: white;
  padding: 3px 40px 12px 40px;
  text-align: center;
  margin-right: 10px;
}

.showing-adult h2 {
  font-size: 15px;
  color: brown;
  margin-top: 20px;
  font-weight: 500;
}
.showing-adult h5 {
  font-size: 45px;
  font-weight: 500;
}

.dropdown {
  background-color: white;
  margin-top: 5px;
  box-shadow: 1px 1px 1px 1px brown;
  text-align: center;
  padding: 3px 0px;
  margin-right: 5px;
}
.number {
  font-size: 15px;
}
.number:hover {
  background-color: brown;
}

.showing-adult {
  background-color: white;
  padding: 3px 40px 12px 40px;
  text-align: center;
  margin-right: 10px;
}
.showing-adult {
  background-color: white;
  padding: 3px 40px 12px 40px;
  text-align: center;
  margin-right: 10px;
}

.availabibilty {
  background-color: brown;
  color: white;
  font-size: 13px;
  font-weight: 500;
  padding: 56px 30px;
  text-transform: uppercase;
}

.roomss {
  padding-top: 30px;
  text-align: center;
}

.roomss h5 {
  font-size: 45px;
  font-weight: 500;
  color: rgb(53, 28, 28);
  padding-bottom: 4px;
}

.our-image img {
  width: 170px;
}

.roomss p {
  font-size: 18px;
  text-align: center;
  color: gray;
  padding: 20px 350px;
  font-weight: 300;
}
.image-apartment {
  margin: 30px 40px;
}
.image-array {
  position: relative;
  box-shadow: 1px 1px 1px 1px lightgray;
  width: 350px;
}
.cont-inside-image {
  position: absolute;
  top: 160px;
  left: 50px;
  color: white;
  text-align: center;
}
.cont-inside-image h2 {
  font-size: 25px;
  font-weight: 500;
  text-transform: uppercase;
}
.reel-image img {
  width: 350px;
}
/* .reel-image img:hover {
  width: 360px;
  transition: width 0.3s ease;
} */
.cont-inside-image p {
  font-size: 15px;
  font-weight: 600;
}
.information {
  text-align: center;
  padding: 10px 30px;
}
.information a {
  font-size: 16px;
  color: darkblue;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
  font-family: "Kumbh Sans", sans-serif;
  opacity: 0.5;
}

.font-icon {
  font-size: 27px;
  color: brown;
}

.bed-icon {
  display: flex;
  align-items: flex-start;
  align-content: center;
  justify-content: flex-start;
  gap: 60px;
  border-bottom: 1px solid gray;
}
.icons {
  display: flex;
  align-items: flex-start;
  align-content: center;
  justify-content: flex-start;
  gap: 50px;
  padding-top: 10px;
}

.ikkon {
  font-size: 15px;
  font-family: "Kumbh Sans", sans-serif;
  font-weight: 500;
  color: gray;
  display: grid;
  justify-content: center;
  padding: 0px 40px;
}

.beed {
  display: flex;
  align-items: flex-start;
  align-content: center;
  justify-content: flex-start;
  margin-bottom: 20px;
}
.wifi {
  display: flex;
  align-items: flex-start;
  align-content: center;
  justify-content: flex-start;
  padding-bottom: 20px;
}
.food {
  display: flex;
  align-items: flex-start;
  align-content: center;
  justify-content: flex-start;
}

.arrow {
  display: flex;
  align-items: flex-start;
  align-content: center;
  justify-content: flex-start;
}

.room-price-flex {
  display: flex;
  align-items: flex-start;
  align-content: center;
  justify-content: space-between;
  /* gap: 500px; */
  width: 100%;
}
.room-price-flex-media {
  display: none;
}

.remaining {
  text-align: center;
  margin-top: 80px;
}
.about h2 {
  font-size: 45px;
  font-weight: 500;
  font-family: "Kumbh Sans", sans-serif;
  border-bottom: 3px solid brown;
  display: inline-block;
}

.p-content {
  padding: 40px 80px;
}
.p-content p {
  font-size: 19px;
  font-family: "Kumbh Sans", sans-serif;
  padding-bottom: 35px;
  color: rgb(67, 53, 53);
}

.image-collapse {
  display: flex;
  align-self: center;
  align-content: center;
  justify-content: flex-start;
  position: relative;
  margin-left: 50px;
}
/* .first-image {
  position: relative;
} */

.second-image {
  position: absolute;
  right: 90px;
  top: 60px;
}

.first-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-top: 200px;
  gap: 30px;
}

.grid {
  background-color: white;
  box-shadow: 1px 1px 5px 0px gray;
  text-align: center;
  padding: 25px 20px;
}
.grid h5 {
  font-family: "Kumbh Sans", sans-serif;
  font-size: 14px;
  font-weight: 530;
  text-transform: uppercase;
}

.close-to-background {
  background-image: url("images/bg-gallery.jpg");
  height: 600px;
  background-size: cover;
  width: 100%;
  padding: 60px 80px;
}

.gall {
  text-align: center;
}
.gall h1 {
  color: white;
  font-size: 35px;
  font-weight: 500;
}
.gallery-flex {
  display: flex;
  align-items: flex-start;
  align-content: center;
  justify-content: center;
  margin-top: 30px;
}

.image-gallery img {
  width: 240px;
  transition: width 0.5s ease;
}

/* .image-gallery img:hover {
  width: 250px;
} */
.image-gallery {
  position: relative;
}
.plus-icon {
  position: absolute;
  top: 150px;
  left: 0px;
  z-index: 9;
  /* animation: titilope 1s ease forwards; */
}
.please {
  display: none;
  /* animation: titilope 1s ease forwards; */
}

@keyframes titilope {
  from {
    left: 10px;
  }
  to {
    left: 100px;
  }
}

.iccon {
  font-size: 70px;
  color: white;
}

.imagg img {
  width: 650px;
  height: 400px;
}

.modal-image {
  background-color: rgb(26, 30, 30);
  width: 700px;
  height: 500px;
  position: absolute;
  top: 2780px;
  left: 300px;
  z-index: 50;
  padding: 20px;
}

.cancel {
  font-size: 25px;
  color: white;
  margin-left: 610px;
}

.button {
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: flex-start;
}
.next {
  font-size: 25px;
  color: white;
}

.length {
  font-size: 13px;
  color: white;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(1px);
  z-index: 4;
}

.view {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin-top: 30px;
  padding-bottom: 50px;
}

.view a {
  padding: 6px 45px;
  color: white;
  border: 2px solid white;
  text-align: center;
  text-decoration: none;
  font-size: 15px;
  font-family: "Kumbh Sans", sans-serif;
  font-weight: 600;
}

footer {
  background-color: rgb(37, 36, 36);
  padding: 70px 40px 35px 40px;
}

.firstlayer-flex {
  display: flex;
  align-items: flex-start;
  align-content: center;
  justify-content: flex-start;
  gap: 320px;
  border-bottom: 0.5px solid gray;
  /* padding-bottom: 15px; */
}
.anchor-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: flex-start;
  align-content: center;
  align-items: flex-start;
  /* gap: 150px; */
}

.anchor-grid a {
  color: white;
  text-decoration: none;
  font-size: 15px;
  font-family: "Kumbh Sans", sans-serif;
  margin-bottom: 16px;
  margin-right: 100px;
}

.secondLayer {
  color: white;
  font-size: 13px;
}
.secondLayer span {
  color: rgb(108, 93, 8);
}

.payment {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: center;
  gap: 30px;
}
.payment img {
  width: 70px;
}
.second-layer-flex {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: center;
  gap: 350px;
  margin-top: 30px;
}

.sticky {
  background-color: black;
  width: 100%;
  height: 100px;
  position: fixed;
  z-index: 60;
  top: 0;
  left: 0;
  display: flex;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
  padding: 40px 40px;
  gap: 420px;
  opacity: 0.9;
  visibility: visible;
}
.me {
  display: none;
}

.burger {
  display: none;
}
.logo-parts {
  display: none;
}
.stickys {
  display: none;
}
.cl {
  width: 40px;
}
@media (max-width: 480px) {
  .stickys {
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    background-color: black;
    width: 100%;
    height: 100px;
    max-width: 100%;
    position: fixed;
    z-index: 60; /* Sticky bar */
    top: 0;
    left: 0;
    padding: 60px 0px;
    gap: 230px;
    opacity: 0.9;
    display: flex;
    /* display: none; */
  }

  .navbar ul {
    /* display: none; */
    width: 450px;
    max-width: 100%;
    position: absolute;
    left: 0;
    top: 90px;
    background-color: black;
    display: none;
    padding: 20px 0px;
    opacity: 0.8;
  }
  .navbar ul li a {
    font-size: 11px;
  }
  .navbar ul li {
    float: none;
    margin-right: 0px;
    text-align: left;
    padding: 0px 0px 15px 20px;
  }

  .logo-parts {
    position: absolute;
    top: 0px;
    color: white;
    font-size: 12px;
    border-top: none;
    padding-top: 28px;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
    max-width: 100%;
    width: 100%;
    gap: 230px;
  }
  /* 
  .logo-parts ul li a {
    font-size: 11px;
    font-weight: 400;
  } */
  /* 
  .logo-parts .navbar ul {
    width: 450px;
    max-width: 100%;
    position: absolute;
    left: 0;
    top: 80px;
    background-color: red;
    display: block;
  } */

  /* .logo-parts .navbar ul li {
    float: none;
    margin-right: 0px;
    text-align: left;
    padding: 0px 0px 10px 20px;
    display: none;
  } */

  .please {
    position: absolute;
    top: 150px;
    left: 10px;
    z-index: 9;
    display: block;
    /* animation: titilope 1s ease forwards; */
  }
  @keyframes titilope {
    from {
      left: 10px;
    }
    to {
      left: 200px;
    }
  }

  .plus-icon {
    display: none;
  }
  .top-image img {
    height: 600px;
    max-width: 100%;
    object-fit: cover;
    object-position: left;
  }
  .burger {
    display: block;
    color: white;
    font-size: 30px;
  }
  .address {
    display: none;
  }
  .logo img {
    width: 85px;
    margin-left: 10px;
  }
  .heading {
    max-width: 100%;
  }

  .top-image img {
    width: 100%;
    max-width: 100%;
  }
  .heading-content {
    padding: 0px 0px;
  }
  .logo-part {
    display: none;
  }

  .carousel {
    top: 330px;
    left: 30px;
    text-align: center;
    max-width: 100%;
  }

  .carousel h2 {
    font-size: 28px;
    font-weight: 500;
    text-align: center;
  }
  .carousel .flexo div {
    width: 31px;
    height: 1px;
  }

  .carousel .flexo p {
    margin-left: 15px;
    margin-right: 16px;
    font-size: 15px;
  }
  .icon {
    top: 352px;
    gap: 250px;
    left: 30px;
    max-width: 100%;
  }
  .ikon {
    font-size: 30px;
  }

  .date-flex {
    flex-direction: column;
    top: 599px;
    left: 0px;
    background-color: rgb(40, 35, 35);
    width: 100%;
    max-width: 100%;
    padding: 13px 0px;
    justify-content: center;
    align-items: center;
  }
  .arrival-input {
    width: 350px;
    padding: 11px 13px;
    margin: 5px auto;
  }
  .arrival-content {
    font-size: 14px;
  }
  .input-date input {
    padding: 15px 89px 15px 0px;
    width: 300px;
    font-size: 20px;
    text-transform: uppercase;
  }
  .showing-adult {
    padding: 0px;
    width: 350px;
    margin: 5px auto;
  }
  .showing-adult h2 {
    margin-top: 0px;
  }
  .dropdown {
    padding: 7px 0px;
    margin: auto;
    width: 300px;
  }
  .roomss {
    margin-top: 597px;
    padding: 86px 10px;
  }
  .roomss p {
    padding: 22px 15px;
    font-weight: 300;
    font-size: 17px;
  }
  .date {
    margin: 0px;
  }

  .availabibilty {
    padding: 19px 36px;
    width: 350px;
    text-align: center;
    margin: 5px auto;
  }
  .room-price-flex-media {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    gap: 0px;
    width: 100%;
    visibility: visible;
    max-width: 100%;
  }
  .room-price-flex {
    display: none;
  }

  .image-apartment {
    margin: 10px 20px;
  }
  .second-image img {
    width: 390px;
    max-width: 100%;
  }
  .first-image img {
    width: 390px;
    max-width: 100%;
  }
  .second-image {
    position: static;
  }
  .image-collapse {
    flex-direction: column;
    display: flex;
    align-self: center;
    align-content: center;
    justify-content: center;
    position: relative;
    margin-left: 0px;
  }
  .first-image {
    margin: auto;
  }
  .second-image {
    margin: auto;
  }
  .image-array {
    width: 100%;
    border: 1px solid red;
    max-width: 100%;
  }
  .reel-image img {
    width: 439px;
  }
  .information a {
    font-size: 14px;
  }
  .cont-inside-image {
    top: 163px;
    left: 118px;
    text-align: center;
  }
  .ikkon {
    font-size: 15px;
    font-family: "Kumbh Sans", sans-serif;
    font-weight: 500;
    color: gray;
    display: grid;
    justify-content: flex-start;
    padding: 0px 0px;
  }
  .beed {
    margin-bottom: 20px;
    padding-left: 106px;
  }
  .beed p {
    font-size: 10px;
    line-height: 30px;
  }
  .arrow {
    margin-bottom: 20px;
  }

  .arrow p {
    font-size: 10px;
    line-height: 30px;
  }

  .icons {
    margin-bottom: 20px;
    padding-left: 106px;
  }

  .wifi {
    font-size: 10px;
    line-height: 30px;
  }
  .food {
    margin-bottom: 20px;
  }

  .food p {
    font-size: 10px;
    line-height: 30px;
  }
  .first-grid {
    grid-template-columns: 1fr;
    gap: 30px;
    margin-top: 71px;
  }
  .close-to-background {
    width: 100%;
    height: 2400px;
    max-width: 100%;
    padding: 62px 20px;
  }

  .gallery-flex {
    flex-direction: column;
    max-width: 100%;
  }
  .imagg img {
    width: 180px;
    height: 60px;
  }
  .button {
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: flex-start;
    gap: 0px;
  }
  .firstlayer-flex {
    display: flex;
    align-items: flex-start;
    align-content: center;
    justify-content: flex-start;
    gap: 0px;
    border-bottom: 0.5px solid gray;
    /* padding-bottom: 15px; */
    flex-direction: column;
  }
  .firstlayer-flex img {
    margin: auto;
    margin-bottom: 67px;
    max-width: 100%;
  }
  .me {
    display: block;
  }
  .you {
    display: none;
  }

  footer {
    background-color: rgb(37, 36, 36);
    padding: 40px 10px 35px 10px;
  }
  .anchor-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    gap: 0px;
  }
  .anchor-grid a {
    font-size: 11px;
  }
  .second-layer-flex {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: center;
    gap: 0px;
    margin-top: 30px;
    flex-direction: column;
  }
  .second-layer-flex p {
    font-size: 10px;
    padding: 0px 10px;
  }
  .remaining {
    text-align: center;
    margin-top: 11px;
  }
  .p-content {
    padding: 41px 5px;
    text-align: center;
  }
  .p-content p {
    font-size: 15px;
  }
  .payment {
    margin: auto;
  }
  .payment img {
    width: 30px;
  }
  .cl {
    width: 30px;
  }
}
