@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  padding: 0px;
  margin: 0px;
  font-weight: 400;
  line-height: 1.6;
  width: 100%;
  height: 100%;
}

.heading {
  position: relative;
}
.top-image img {
  width: 100%;
  height: 600px;
  max-width: 100%;
}

.heading {
  max-width: 100%;
}
.heading-content {
  padding: 30px 40px;
}
.address {
  position: absolute;
  top: 15px;
  color: white;
  font-size: 12px;
}
.addresss {
  color: white;
  font-size: 12px;
}
.logo-part {
  position: absolute;
  top: 50px;
  color: white;
  font-size: 12px;
  border-top: 1px solid gray;
  padding-top: 15px;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: flex-start;
  gap: 450px;
}

.navbar ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.navbar ul li {
  float: left;
  margin-right: 60px;
}

.logo img {
  width: 90px;
}
.logos img {
  width: 90px;
}
.navbar ul li a {
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  font-weight: 600;
  color: white;
  text-transform: uppercase;
}

.navbar ul li a:hover {
  color: brown;
}

.navbars ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.navbars ul li {
  float: left;
  margin-right: 60px;
}

.navbars ul li a {
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  font-weight: 600;
  color: white;
  text-transform: uppercase;
}

.navbars ul li a:hover {
  color: brown;
}

.carousel {
  position: absolute;
  top: 200px;
  left: 300px;
  text-align: center;
}
.carousel h2 {
  color: white;
  font-size: 55px;
  font-weight: 550;
  text-align: center;
  font-family: "Playfair Display", serif;
}

.carousel .flexo {
  color: white;
  font-size: 30px;
  display: flex;
  align-items: flex-start;
  align-content: center;
  justify-content: center;
  margin-top: 15px;
}

.carousel .flexo div {
  width: 80px;
  height: 1px;
  background-color: white;
  /* line-height: 60px; */
  margin-top: 20px;
}

.carousel .flexo p {
  margin-left: 20px;
  margin-right: 20px;
  font-size: 25px;
  font-weight: 500;
}

.icon {
  position: absolute;
  top: 350px;
  display: flex;
  justify-content: flex-start;
  gap: 1100px;
  align-items: flex-start;
  align-content: center;
  visibility: hidden;
}
.ikon {
  font-size: 35px;
  color: white;
}

.date-flex {
  position: absolute;
  top: 450px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: center;
}
.arrival-input {
  background-color: white;
  width: 250px;
  padding: 20px 30px;
  margin-right: 10px;
}
.arrival-flex {
  display: flex;
  align-items: flex-start;
  align-content: center;
  justify-content: flex-start;
}

.input-date input {
  padding: 15px 5px;
  width: 170px;
  border: none;
  font-size: 30px;
  overflow: hidden;
  margin-right: 2px;
  color: gray;
}
.arrival-content {
  font-size: 14px;
  color: brown;
  font-weight: 500;
  text-transform: uppercase;
}
.input-date input:focus {
  outline: none;
}
.calendar-icon {
  font-size: 40px;
  color: brown;
}

.showing-adult {
  background-color: white;
  padding: 3px 40px 12px 40px;
  text-align: center;
  margin-right: 10px;
}

.showing-adult h2 {
  font-size: 15px;
  color: brown;
  margin-top: 20px;
  font-weight: 500;
}
.showing-adult h5 {
  font-size: 45px;
  font-weight: 500;
}

.dropdown {
  background-color: white;
  margin-top: 5px;
  box-shadow: 1px 1px 1px 1px brown;
  text-align: center;
  padding: 3px 0px;
  margin-right: 5px;
}
.number {
  font-size: 15px;
}
.number:hover {
  background-color: brown;
}

.showing-adult {
  background-color: white;
  padding: 3px 40px 12px 40px;
  text-align: center;
  margin-right: 10px;
}
.showing-adult {
  background-color: white;
  padding: 3px 40px 12px 40px;
  text-align: center;
  margin-right: 10px;
}

.availabibilty {
  background-color: brown;
  color: white;
  font-size: 13px;
  font-weight: 500;
  padding: 56px 30px;
  text-transform: uppercase;
}

.roomss {
  padding-top: 30px;
  text-align: center;
}

.roomss h5 {
  font-size: 45px;
  font-weight: 500;
  color: rgb(53, 28, 28);
  padding-bottom: 4px;
}

.our-image img {
  width: 170px;
}

.roomss p {
  font-size: 18px;
  text-align: center;
  color: gray;
  padding: 20px 350px;
  font-weight: 300;
}
.image-apartment {
  margin: 30px 40px;
}
.image-array {
  position: relative;
  box-shadow: 1px 1px 1px 1px lightgray;
  width: 350px;
}
.cont-inside-image {
  position: absolute;
  top: 160px;
  left: 50px;
  color: white;
  text-align: center;
}
.cont-inside-image h2 {
  font-size: 25px;
  font-weight: 500;
  text-transform: uppercase;
}
.reel-image img {
  width: 350px;
}
/* .reel-image img:hover {
  width: 360px;
  transition: width 0.3s ease;
} */
.cont-inside-image p {
  font-size: 15px;
  font-weight: 600;
}
.information {
  text-align: center;
  padding: 10px 30px;
}
.information a {
  font-size: 16px;
  color: darkblue;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
  font-family: "Kumbh Sans", sans-serif;
  opacity: 0.5;
}

.font-icon {
  font-size: 27px;
  color: brown;
}

.bed-icon {
  display: flex;
  align-items: flex-start;
  align-content: center;
  justify-content: flex-start;
  gap: 60px;
  border-bottom: 1px solid gray;
}
.icons {
  display: flex;
  align-items: flex-start;
  align-content: center;
  justify-content: flex-start;
  gap: 50px;
  padding-top: 10px;
}

.ikkon {
  font-size: 15px;
  font-family: "Kumbh Sans", sans-serif;
  font-weight: 500;
  color: gray;
  display: grid;
  justify-content: center;
  padding: 0px 40px;
}

.beed {
  display: flex;
  align-items: flex-start;
  align-content: center;
  justify-content: flex-start;
  margin-bottom: 20px;
}
.wifi {
  display: flex;
  align-items: flex-start;
  align-content: center;
  justify-content: flex-start;
  padding-bottom: 20px;
}
.food {
  display: flex;
  align-items: flex-start;
  align-content: center;
  justify-content: flex-start;
}

.arrow {
  display: flex;
  align-items: flex-start;
  align-content: center;
  justify-content: flex-start;
}

.room-price-flex {
  display: flex;
  align-items: flex-start;
  align-content: center;
  justify-content: space-between;
  /* gap: 500px; */
  width: 100%;
}
.room-price-flex-media {
  display: none;
}

.remaining {
  text-align: center;
  margin-top: 80px;
}
.about h2 {
  font-size: 45px;
  font-weight: 500;
  font-family: "Kumbh Sans", sans-serif;
  border-bottom: 3px solid brown;
  display: inline-block;
}

.p-content {
  padding: 40px 80px;
}
.p-content p {
  font-size: 19px;
  font-family: "Kumbh Sans", sans-serif;
  padding-bottom: 35px;
  color: rgb(67, 53, 53);
}

.image-collapse {
  display: flex;
  align-self: center;
  align-content: center;
  justify-content: flex-start;
  position: relative;
  margin-left: 50px;
}
/* .first-image {
  position: relative;
} */

.second-image {
  position: absolute;
  right: 90px;
  top: 60px;
}

.first-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-top: 200px;
  gap: 30px;
}

.grid {
  background-color: white;
  box-shadow: 1px 1px 5px 0px gray;
  text-align: center;
  padding: 25px 20px;
}
.grid h5 {
  font-family: "Kumbh Sans", sans-serif;
  font-size: 14px;
  font-weight: 530;
  text-transform: uppercase;
}

.close-to-background {
  background-image: url("images/bg-gallery.jpg");
  height: 600px;
  background-size: cover;
  width: 100%;
  padding: 60px 80px;
}

.gall {
  text-align: center;
}
.gall h1 {
  color: white;
  font-size: 35px;
  font-weight: 500;
}
.gallery-flex {
  display: flex;
  align-items: flex-start;
  align-content: center;
  justify-content: center;
  margin-top: 30px;
}

.image-gallery img {
  width: 240px;
  transition: width 0.5s ease;
}

.image-gallery {
  position: relative;
}
.plus-icon {
  position: absolute;
  top: 150px;
  left: 0px;
  z-index: 9;
  /* animation: titilope 1s ease forwards; */
}
.please {
  display: none;
  /* animation: titilope 1s ease forwards; */
}

@keyframes titilope {
  from {
    left: 10px;
  }
  to {
    left: 100px;
  }
}

.iccon {
  font-size: 70px;
  color: white;
}

.imagg img {
  width: 650px;
  height: 400px;
}

.modal-image {
  background-color: rgb(26, 30, 30);
  width: 700px;
  height: 500px;
  position: absolute;
  top: 2780px;
  left: 300px;
  z-index: 50;
  padding: 20px;
}

.cancel {
  font-size: 25px;
  color: white;
  margin-left: 610px;
}

.button {
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: flex-start;
}
.next {
  font-size: 25px;
  color: white;
}

.length {
  font-size: 13px;
  color: white;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(1px);
  z-index: 4;
}

.view {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin-top: 30px;
  padding-bottom: 50px;
}

.view a {
  padding: 6px 45px;
  color: white;
  border: 2px solid white;
  text-align: center;
  text-decoration: none;
  font-size: 15px;
  font-family: "Kumbh Sans", sans-serif;
  font-weight: 600;
}

footer {
  background-color: rgb(37, 36, 36);
  padding: 70px 40px 35px 40px;
}

.firstlayer-flex {
  display: flex;
  align-items: flex-start;
  align-content: center;
  justify-content: flex-start;
  gap: 320px;
  border-bottom: 0.5px solid gray;
  /* padding-bottom: 15px; */
}
.anchor-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: flex-start;
  align-content: center;
  align-items: flex-start;
  /* gap: 150px; */
}

.anchor-grid a {
  color: white;
  text-decoration: none;
  font-size: 15px;
  font-family: "Kumbh Sans", sans-serif;
  margin-bottom: 16px;
  margin-right: 100px;
}

.secondLayer {
  color: white;
  font-size: 13px;
}
.secondLayer span {
  color: rgb(108, 93, 8);
}

.payment {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: center;
  gap: 30px;
}
.payment img {
  width: 70px;
}
.second-layer-flex {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: center;
  gap: 350px;
  margin-top: 30px;
}

.sticky {
  background-color: black;
  width: 100%;
  height: 100px;
  position: fixed;
  z-index: 60;
  top: 0;
  left: 0;
  display: flex;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
  padding: 40px 40px;
  gap: 420px;
  opacity: 0.9;
  visibility: visible;
}
.me {
  display: none;
}

.burger {
  display: none;
}
.logo-parts {
  display: none;
}
.stickys {
  display: none;
}
.cl {
  width: 40px;
}

.heading-hero {
  background-image: url("/images/header.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  padding: 10px 45px 45px 45px;
}

.logo-partss {
  color: white;
  font-size: 12px;
  border-top: 1px solid gray;
  padding-top: 15px;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: flex-start;
  gap: 400px;
}
.heading {
  margin-top: 50px;
  text-align: center;
}
.heading h1 {
  color: white;
  font-size: 35px;
  font-family: "Kumbh Sans", sans-serif;
  font-weight: 600;
}

.bodyy {
  padding: 0px 45px;
}
.numbers {
  font-size: 18px;
  font-family: "Kumbh Sans", sans-serif;
  text-align: center;
  padding-top: 40px;
  border-bottom: 3px solid red;
  display: inline-block;
  margin-left: 500px;
  padding-bottom: 10px;
}

.numbers span {
  font-weight: 600;
}

.margin-line {
  margin-bottom: 30px;
}

.props-pass {
  display: flex;
  align-items: flex-start;
  align-content: center;
  gap: 80px;
  margin-top: 60px;
}
.select {
  width: 75%;
}
.imaginary-content {
  width: 70%;
}
.selec-room {
  background-color: lightgray;
  text-transform: uppercase;
  text-align: center;
  padding: 13px;
  font-size: 15px;
  font-weight: 600;
}

.second {
  background-color: rgb(102, 91, 27);
  padding: 17px;
  color: white;
}

.booking {
  padding-bottom: 30px;
}
.booking p {
  padding-top: 13px;
}
.booking2 h5 {
  padding-bottom: 20px;
}
.booking h5 {
  font-size: 13px;
  font-weight: 700;
  word-spacing: 5px;
}
.booking p {
  font-size: 13px;
  font-weight: 500;
}
.booking2 h5 {
  font-size: 13px;
  font-weight: 700;
  word-spacing: 5px;
}

.imaging img {
  width: 380px;
  border-radius: 15px;
}

.imaginary-display {
  display: flex;
  align-items: flex-start;
  align-content: center;
  gap: 30px;
}
.liist {
  margin-bottom: 30px;
}

.liist h5 {
  font-size: 25px;
  font-weight: 700;
  padding-bottom: 15px;
}

.imaginary-content p {
  font-weight: 700;
  font-size: 15px;
}

.prii {
  padding-top: 30px;
  display: flex;
  align-items: flex-start;
  align-content: center;
  gap: 20px;
}

.priii h4 {
  font-size: 23px;
}

.prii span {
  font-size: 17px;
  color: gray;
}

.bookingg {
  border: 2px solid black;
  text-align: center;
  padding: 10px 20px;
  font-size: 12px;
  font-weight: 600;
  cursor: pointer;
}

.bookingg:hover {
  border: none;
  background-color: rgb(82, 72, 15);
  color: white;
}
